/* src/app/global.css */

/* Imports the base styles for Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
    FIX: Removed the @apply directive.
    We will apply bg-background and text-text-secondary in layout.tsx
  */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Set default font families */
  body, input, textarea, select, button {
    @apply font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-text-primary;
  }
}