/* src/app/global.css */

/* Imports the base styles for Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
    FIX: Removed all @apply directives.
    We will apply bg-background, text-text-secondary, and font-sans
    in the layout.tsx file where it belongs.
  */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Set default font families */
  body, input, textarea, select, button {
    /* This is fine */
    @apply font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    /* This is fine */
    @apply font-heading text-text-primary;
  }
}